


.app-container{
    max-width: 600px;
    margin-left:auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow:1;
}



.message{
    color:gray;
}

.loading-spinner{
    height: 40px;
    margin:-15px;
}